.Header {
  display: flex;
  flex-direction: column;
}
.HeaderTitle {
  margin: 0 auto;
}
.HeaderBar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  box-sizing: border-box;
  padding: 0.2em;
}

.PageHeader {
  display: flex;
  flex-direction: column;
  padding: 0.3em;
  background-color: rgba(0, 0, 0, 0.1);
}
.PageHeader span:first-child {
  font-size: 1.1em;
}
.PageHeader span:last-child {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.6);
}

.nickName {
  display: flex;
  align-items: center;
  font-size: 0.7em;
  font-weight: 200;
}
.nickName span {
  font-weight: 400;
}

.leftBox {
  display: flex;
  justify-content: center;
  margin-left: auto;
}
.leftBox a {
  margin-right: 0.2em;
}
