.DetailTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5em 0.2em;
}
.DetailTitle .LightText {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.7);
}
.DetailTitle .NormalText {
  font-size: 0.9em;
}

.DetailInfo {
  display: flex;
  font-size: 0.7em;
  padding: 0em 0.5em;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.left {
  margin-right: auto;
}
.right {
  margin-left: auto;
}
.DetailLink {
  margin-top: 1.2em;
  font-size: 0.7em;
  padding-left: 1em;
}
.DetailLink .href {
  text-decoration: underline;
}
