.NewsLink {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.NewsBoxItem {
  display: flex;
  padding: 0.2em 0em 0.5em 0.6em;
  transition: background 0.3s ease-in;
}
.NewsBoxItem:last-child {
  border-bottom: 0px;
}
.NewsBoxItem:active {
  background-color: rgba(0, 0, 0, 0.05);
  background-size: 100%;
  transition: background 0s;
}

.watchingNews {
  background-color: rgba(0, 0, 0, 0.1);
}

.NewsBoxItem .contents {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.NewsBoxItem .contents .title span:first-child {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.7em;
}
.NewsBoxItem .contents .title {
  font-size: 0.8em;
}

.NewsBoxItem .reply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 15%;
}
.NewsBoxItem .reply span:first-child {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}
.NewsBoxItem .reply span:last-child {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2em;
}

.tag {
  display: flex;
}
.tag div {
  margin-right: 0.2em;
}
.date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.7em;
  font-weight: 200;
  margin-left: auto;
}

.tagItem {
  font-weight: 300;
  font-size: 0.5em;
  padding: 0.2em 0.5em;
  border-radius: 0.7em;
}

.bbc {
  background-color: blue;
  color: white;
}
.sky {
  background-color: skyblue;
  color: black;
}
.goal {
  background-color: black;
  color: white;
}
.press {
  background-color: black;
  color: white;
}
.status {
  background-color: rgba(233, 76, 76, 0.795);
  color: white;
}
.etc {
  background-color: rgba(174, 168, 228, 0.774);
  color: black;
}

.NewsCountBox {
  display: flex;
  font-size: 0.7em;
  color: rgba(0, 0, 0, 0.6);
  padding: 0em 0.5em;
}
.NewsCountBox span:first-child {
  margin-left: auto;
}

.NewsPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}
.NewsPagination a {
  margin: 0em 0.2em;
}
