.NewsReqBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0em;
}
.NewsReqBtn .LightText {
  font-size: 0.8em;
}
.NewsReqBtn .IconButton {
  width: 60%;
  padding: 0em 0em 0.5em 0em;
}

.marginDiv {
  margin-bottom: 1em;
}

.NewsDetailReplyTitle {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.2em 0.5em;
  font-size: 1.2em;
  font-weight: 500;
}
.NewsDetailReplyTitle span {
  margin-left: 0.3em;
  font-size: 0.7em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.DetailReplyReq {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid lightgray;
  padding: 1em 0em;
  background-color: rgba(0, 0, 0, 0.05);
}
.DetailReplyReq .icon {
  font-size: 3.2em;
}

.DetailReplyReq .LightText {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.7);
}

.newsPic {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
}
.newsPic img {
  max-width: 80%;
  margin: 0 auto;
}
.newsPic span {
  font-weight: 300;
  font-size: 0.8em;
  padding: 0em 0.5em;
}
