.NewsReqBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0em;
}
.NewsReqBtn .LightText {
  font-size: 0.8em;
}
.NewsReqBtn .IconButton {
  width: 60%;
  padding: 0em 0em 0.5em 0em;
}

.marginDiv {
  margin-bottom: 1em;
}
