.Reply {
  display: flex;
  flex-direction: column;
  border-top: 1px solid lightgray;
}
.selected {
  background-color: rgba(0, 0, 255, 0.08);
}

.test {
  border-bottom: 1px solid lightgray;
}

.WriterInfo {
  display: flex;
  font-size: 0.9em;
  padding: 0.2em 1em 0.2em 0.5em;
  align-items: center;
}
.WriterName {
  font-weight: 400;
}
.WriteTime {
  font-size: 0.8em;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.7);
}
.replyBtns {
  margin-right: auto;
  padding-left: 0.5em;
  font-size: 1.2em;
}
.replyBtns:last-child {
  margin-left: auto;
  margin-right: 0;
  font-size: 1.2em;
}
.WriterReport {
  color: rgb(204, 5, 5);
  margin-right: 0.3em;
}
.modifyIcon {
  margin-right: 0.5em;
}

.ReplyContents {
  display: flex;
  flex-direction: column;
}
.ReplyContents .contents {
  padding-left: 0.5em;
  font-weight: 200;
  font-size: 0.9em;
}
.ReplyContents .updown {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5em;
  align-items: center;
  font-size: 1.2em;
}
.ReplyContents .score {
  font-size: 0.8em;
  font-weight: 200;
  margin: 0em 0.5em;
}

.ReplyInReply {
  background-color: rgba(0, 0, 0, 0.05);
}
.ReplyInReply:last-child {
  border-bottom: 1px solid lightgray;
}
.ReplyInReply .WriterInfo {
  border-top: 1px dashed lightgray;
}
.ReplyInReply .contents {
  padding: 0em 0.5em 0.5em 0em;
  font-size: 0.9em;
  font-weight: 200;
}
.RIRIcon {
  font-size: 0.9em;
  transform: rotate(180deg);
  margin: 0em 0.5em;
}
.contentsWrapper {
  display: flex;
  font-size: 0.9em;
  padding: 0.2em 1em 0.2em 0.5em;
}
.contentsWrapper .RIRIcon {
  visibility: hidden;
}

.isViewCheck {
  font-size: 0.7em;
  font-weight: 200;
  padding: 0.2em 0.6em;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.05);
}

.ReplyInReplyWrite textarea {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.06);
}

.ReplyItem {
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.1em;
}
.ReplyItem span:first-child {
  font-size: 0.7em;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.7);
}
.ReplyItem span:last-child {
  font-size: 0.8em;
  font-weight: 500;
}
.ReplyItem .link {
  font-weight: 400 !important;
  text-decoration: underline;
}
